.delete-card-overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.delete-card-modal_styles {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 1000;
  background-color: #bfdbf7;
  border: 1px solid rgb(0, 0, 0, 0.7);
  border-radius: 5px;
}

.delete-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-card-title {
  font-weight: bold !important;
}

.delete-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
